apiVersion: v1
kind: Secret
metadata:
  name: django-app-demo
  namespace: demos
stringData:
  MYSQL_DATABASE: "django"
  MYSQL_ROOT_PASSWORD: "root"

  APP_DEBUG: "1"
  APP_KEY: "klmozr#a=ic8hneesd+-0@hey3y#tei#e&(l^+$2lt^d+6!8r+"
  DB_HOST: "django-app-demo-database"
  DB_PORT: "3306"
  DB_DATABASE: "django"
  DB_USERNAME: "root"
  DB_PASSWORD: "secret"
